<div class="container-fotos">
<% if @fotos.first.serie == "1" then nombreSerie = "la Vicky es la uno" %>
	<% elsif @fotos.first.serie == "2" then nombreSerie = "la Vicky de la gente" %>

<% end %>
<div id="titulo">serie: <%= nombreSerie %>
</div>
<div id="barra">
</div>
	<div class="rowFoto">
		<% @fotos[0..3].each do |foto | %>
			<div class="foto-container">
					<a class="lightbox" href="<%= '#fotoSerie' +foto.url_preview.slice(60..62) %>" data-turbolinks="false">
   						<%= image_tag(foto.url_preview) %>
   					</a>
   					<div class="lightbox-target" id="<%= 'fotoSerie' + foto.url_preview.slice(60..62) %>">
   						<%= image_tag(foto.url_final) %>
   						<a class="lightbox-close" href="#"  data-turbolinks="false" ></a>
					</div>					
			</div>
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[4..7].each do |foto | %>
			<div class="foto-container">
						<a class="lightbox" href="<%= '#fotoSerie' + foto.url_preview.slice(60..62) %>" data-turbolinks="false">
	   						<%= image_tag(foto.url_preview) %>
	   					</a>
	   					<div class="lightbox-target" id="<%= 'fotoSerie' + foto.url_preview.slice(60..62) %>">
	   						<%= image_tag(foto.url_final) %>
	   							<a class="lightbox-close" href="#" data-turbolinks="false" ></a>
						</div>					
					</div>
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[7..10].each do |foto | %>
			<div class="foto-container">
						<a class="lightbox" href="<%= '#fotoSerie' + foto.url_preview.slice(60..62) %>" data-turbolinks="false">
	   						<%= image_tag(foto.url_preview) %>
	   					</a>
	   					<div class="lightbox-target" id="<%= 'fotoSerie' + foto.url_preview.slice(60..62) %>">
	   						<%= image_tag(foto.url_final) %>
	   							<a class="lightbox-close" href="#" data-turbolinks="false" ></a>
						</div>					
					</div>
		<%end%>
	</div>
</div>
