<div class="container-fotos">
<% if @fotos.first.serie == 1
		nombreSerie = "la Vicky es la uno"
	elsif @fotos.first.serie == 2
		nombreSerie = "la Vicky de la gente" %>
<%end%>
<div id="titulo">serie: <%= nombreSerie %>
</div>
<div id="barra">
</div>
	<div>
		<% @fotos[0..3].each_with_index do |foto, index| %>
			<div class="foto-container">
					<a class="lightbox" href="<%= '#fotoSerie' + index.to_s %>" data-turbolinks="false">
   						<%= image_tag(foto.url) %>
   					</a>
   					<div class="lightbox-target" id="<%= 'fotoSerie' + index.to_s %>">
   						<%= image_tag(foto.url) %>
   						<a class="lightbox-close" href="#"></a>
						</div>					
			</div>
		<%end%>
	</div>
	<div>
		<% @fotos[4..7].each do |foto| %>
			<div class="foto-container">
						<a class="lightbox">
	   						<%= image_tag(foto.url) %>
	   					</a>
	   					<div class="lightbox-target">
	   						<%= image_tag(foto.url) %>
	   							<a class="lightbox-close" href="#"></a>
						</div>					
					</div>
			</div>
		<%end%>
	</div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="		myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>