<div class="container-fotos-vistas">
<% if @fotos.first.serie == "1" then nombreSerie = "vistas" %>

<div class="titulo">serie <b>"<%= nombreSerie %>"</b>
</div>
<div id="barra">
</div>
	<div class="rowFoto">
		<% @fotos[0..3].each do |foto | %>
			<div class="foto-container">
			<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
				</a>
			</div>					
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[4..7].each do |foto | %>
			<div class="foto-container">
			<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
				</a>
			</div>		
		<%end%>
	</div>
	<div class="rowFoto row-ultima">
		<% @fotos[8..10].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>		
			</div>
		<%end%>
	</div>
</div>

<% elsif @fotos.first.serie == "2" then nombreSerie = "tesis" %>

<div class="container-fotos-tesis">
<div class="titulo">serie <b>"<%= nombreSerie %>"</b>
</div>
<div id="barra">
</div>
	<div class="rowFoto">
		<% @fotos[0..3].each do |foto | %>
			<div class="foto-container">
			<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
				</a>
			</div>					
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[4..7].each do |foto | %>
			<div class="foto-container">
			<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
				</a>
			</div>		
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[7..10].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>	
			</div>
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[11..14].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>	
			</div>
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[15..18].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>	
			</div>
		<%end%>
	</div>
	<div class="rowFoto">
		<% @fotos[19..22].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>	
			</div>
		<%end%>
	</div>
	<div class="rowFoto ultima-row-serie-tesis">
		<% @fotos[23..26].each do |foto | %>
			<div class="foto-container">
				<div class="foto-container">
					<a data-lightbox="serie" class="foto-preview" href="<%=foto.url_final%>" data-turbolinks="false">
					<%= image_tag(foto.url_preview) %>
					</a>
				</div>	
			</div>
		<%end%>
	</div>
<% end %>
</div>